<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343352954397-gfco8s07ls1qvmijfc3kgdj2e1li4sc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343352954397-gfco8s07ls1qvmijfc3kgdj2e1li4sc3</string>
	<key>API_KEY</key>
	<string>AIzaSyBRTj91M2SZrOD_gn0_cbFSOQKkHcjiCak</string>
	<key>GCM_SENDER_ID</key>
	<string>343352954397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gahezit.com.example.orbitsapps</string>
	<key>PROJECT_ID</key>
	<string>field-monitoring-124ad</string>
	<key>STORAGE_BUCKET</key>
	<string>field-monitoring-124ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343352954397:ios:845def0c11e49cb2a680f4</string>
</dict>
</plist>